* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./xf6n3VMy.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 4, 28, 0.38);
    ;
    z-index: -1;
}

.cont {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 767px) {
    .cont {
        flex-direction:column;
    }

    .cont .text {
        width: 100%;
        text-align: center;
    }
    .inf{
        margin-top: 15px;
      
    }
    .inf .button{text-align: center;}

}

.cont .text {
    max-width: 400px;
   

}

.cont .text h1 {
    color: #265073;
    font-size: 40px;
    font-weight: bold;
}

.cont .text p {
    font-size: 22px;
    color: #ecf4d6a5;
}

.cont .text div {
    margin: 30px 0;
}

.cont .text div a {
    text-decoration: none;
    color: #265073;
    padding: 15px;
    background-color: #ecf4d6;
    border-radius: 8px;
}

.cont .text div a:hover {
    background-color: transparent;
    border: 1px solid #9AD0C2;
    color: #ECF4D6;
}

.inf {
  
    box-shadow: 0px 0px 7px #9AD0C2;

}

.inf form {
    background-color: #ecf4d63b;
    padding: 35px 25px;
    border-radius: 5px;
    border: 1px solid #9AD0C2;
}

form label {
    color: white;
}

button {
    background-color: #2D9596;
}
